* {
    color: whitesmoke;
}

ul {
    list-style: none;
}


header {
    font-size: 30px;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Images {
    display: flex;
    max-height: 200px;
    flex-direction: row;
    justify-content: space-between;
    
}
    
button {
    color:black;
    display: flex;
    justify-content: center;
    margin-left: 48%;
    
}
.container {
    height: 200px;
    position: center; 
  }

#zoneSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    max-width: 100%;
    max-height: 30px;
}

option {
    color: black;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
#plant-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    max-width: 100%;
    max-height: 30px;
}

footer {
    position: fixed;
    margin-left: 45%;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    display: flex;
    position: center;
}